[2019-04-22 18:28] mauroservienti opened #2 "Drop AssemblyLoader"
It was originally introduced due to a bug in .NER Core 1.x. The bug is fixed in 2.x and the class can be dropped. It’ll still fail in loading assemblies added as nuget packages, though.
Take a look at https://github.com/Particular/NServiceBus/blob/63331feba70be3d4b0fa3a3fff75f60128e9a31d/src/NServiceBus.Core/Hosting/Helpers/AssemblyScanner.cs#L92-L105

[2019-04-23 06:40] mauroservienti opened #5 "relax package references versions"
e.g. [0.0.0, 1.0.0)

[2019-04-23 18:18] #2 closed

[2019-04-24 03:44] mauroservienti opened #7 "release ServiceComposer.AspNetCore 0.0.2"
- [x] unlist nuget ServiceComposer.AspNetCore.Gateway
- [x] Delete ServiceComposer.AspNetCore.Gateway repository

[2019-04-24 03:46] mauroservienti opened #8 "Add API Approvals to ServiceComposer.AspNetCore"

[2019-04-24 03:57] #7 closed

[2019-04-24 04:14] mauroservienti opened #9 "Use WebHostBuilder only in tests dropping the need for a Startup class"

[2019-04-24 08:38] #9 closed

[2019-04-24 08:55] #8 closed

[2019-04-27 10:49] mauroservienti opened #20 "Enable Source Linking"
https://github.com/dotnet/sourcelink

[2019-05-20 18:12] mauroservienti opened #31 "Replace matching logic with attribute routing"
Matching logic is problematic as it requires an instance of the handler/subscriber to be created to call the Matches method. This might also have side effects on DI and users expectations, not to mention that instances cannot be really cached but types should be, and instances should be created only on demand.

https://blog.markvincze.com/matching-route-templates-manually-in-asp-net-core/

[2019-05-24 19:32] MarcusChamberlain opened #32 "Merging a dynamic into the view model"
Hi there

I've been testing Service Composer and ran into a small issue.

The 'viewmodel' property used in the query handlers is not an ExpandoObject, it is of type  ServiceComposer.DynamicViewModel. This hides the 'properties' dictionary in a private field in an internal class. The issue is that I have a dynamic already returned from a call to a nosql database. I can't assign this directly to the

[2019-05-25 06:33] mauroservienti commented on #32
Hi @MarcusChamberlain, thanks for raising  this. Never thought about that scenario, indeed sounds interesting and doable. I see to options:

- `DynamicViewModel` has a `Merge` method
- `DynamicViewModel` implements `IDictionary<>`

Thoughts?

[2019-05-27 20:04] MarcusChamberlain commented on #32
Thanks for taking a look into this. Being able to call 'vm.Merge(myDynamic)' on the view model would be very nice.

[2019-05-28 08:50] mauroservienti commented on #32
@MarcusChamberlain I raised https://github.com/ServiceComposer/ServiceComposer.AspNetCore/pull/33 to address this. The only thing I'm not sure about is the `Merge` behavior, right now I took the simplest approach that is to overwrite existing properties in `DynamicViewModel`. Obviously this can lead to some strange scenarios like:

[code]

It'll work but now the `DynamicViewModel` instance `SomePr

[2019-06-24 19:20] MarcusChamberlain commented on #32
Hi Mauro

The merge solution looks great. I did notice one issue though.

At the moment your unit tests (in the 'When_merging_to_DynamicViewModel' class) are able to run because you have a compiler instruction to make internal classes visible to the external assembly 'ServiceComposer.AspNetCore.Tests'. This is tricking your tests into passing - if you attempt to use vm.Merge() in an project withou

[2019-06-24 20:01] mauroservienti commented on #32
Great catch @MarcusChamberlain. I'll get it fixed. If I end up using the same approach as for `RaiseEvent` I can also drop the `IDynamicViewModel` interface entirely.

[2019-06-24 20:33] mauroservienti commented on #32
@MarcusChamberlain I just pushed a fix to #33

[2019-06-25 06:01] #32 closed

[2019-06-25 06:04] mauroservienti commented on #32
Merged the PR and deployed `0.0.11` to Nuget. Thanks @MarcusChamberlain.

[2019-12-27 16:52] #20 closed

[2019-12-30 15:06] mauroservienti opened #76 "Package Icon as package resource"

[2020-01-18 13:54] mauroservienti opened #80 "Cache URL/type mapping so to eliminate te need to resolve all handlers for all the requests"
The issue with caching is that if users in their matching logic are using query string values we might end up not caching some of the handlers, and thus never calling them. Caching implications should be clear, up to the point that the cache might be opt-in.

[2020-01-18 13:59] mauroservienti opened #81 "Brainstorm how to handle sorting when composing lists"
Sort by multiple attributes (as in by attribute A, and then by attribute B, and then by ...) is the most problematic one.

[2020-01-27 07:39] #76 closed

[2020-05-12 07:32] dmitribodiu opened #119 "Question: That composition happens on Presentation Layer or on Gateway?"
Can we use same technique witch SPA on React? I'm wondering, that composition should happen on presentation layer, or it can be a gateway? If it is a gateway, and its down, feels like all services would become unavailable, or that's not an issue?

[2020-06-08 12:11] mauroservienti commented on #119
First of all thanks for your immense patience. Crazy times.

Yes, my original implementation was for AngularJs 1.x. The logic is essentially the same, the toolchain obviously might affect some of the design.

That's a good point. I think we need to first define what kind of "layers" we're discussing here. If they are physical layers then there is only a technical difference between implementing th

[2020-06-12 19:09] mauroservienti opened #139 "Add support for ASP.Net Core 3.x Endpoints"
The endpoint concept introduced in 3.x is a good way forward to avoid scanning for handlers at every request

- https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.1
- https://aregcode.com/blog/2019/dotnetcore-understanding-aspnet-endpoint-routing/
- https://www.yogihosting.com/aspnet-core-endpoint-routing/

[2020-06-16 14:03] mauroservienti commented on #31
Replaced by #139

[2020-06-16 14:03] #31 closed

[2020-06-17 13:58] #139 closed

[2020-06-24 11:58] mauroservienti opened #147 "Add support for Endpoints"
Replaces ServiceComposer/ServiceComposer.AspNetCore.Mvc#15

At configuration time:

- For each "MVC/WebAPI" registered endpoint scan all found "composition handlers" looking for the ones with the same template.
- Add to the endpoint metadata new custom attribute (that implements `IAsyncResultFilter`) with the list of types matching the template

At runtime:

- if the `Model` returned by the execut

[2020-06-24 13:05] mauroservienti commented on #5
done

[2020-06-24 13:05] #5 closed

[2020-06-24 13:07] mauroservienti commented on #80
replaced by https://github.com/ServiceComposer/ServiceComposer.AspNetCore.Mvc/issues/109

[2020-06-24 13:07] #80 closed

[2020-06-25 05:07] mauroservienti opened #148 "Add support for Route attribute on handler classes"

[2020-06-25 12:14] mauroservienti opened #149 "Add support for results handling"
Similar to the `IHandleResults` in the "ServiceComposer.AspNetCore.Mvc" package

[2020-06-25 12:15] mauroservienti opened #150 "Add support for POST, PUT, PATCH, DELETE when using composition over controllers"

[2020-06-25 12:17] #147 closed

[2020-06-27 17:33] mauroservienti opened #151 "Add support for ApiVersionAttribute at the class level"

[2020-06-29 13:45] mauroservienti opened #154 "[v2] make case insensitive route matching the default when using composition over controllers"

[2020-06-30 11:32] mauroservienti opened #158 "Add support for PUT when using composition over controllers"

[2020-06-30 11:32] mauroservienti opened #159 "Add support for PATCH when using composition over controllers"

[2020-06-30 11:32] mauroservienti opened #160 "Add support for DELETE when using composition over controllers"

[2020-08-03 14:27] markphillips100 commented on #149
Would it also be possible @mauroservienti to enable a composition handler to supply the returned http status code result?I was thinking of use cases where I might want to propagate some 400 errors (problem details) back to the caller.  At the moment I can only throw an exception which will give a 500 when I'd prefer a BadRequest 400.

[2020-08-04 04:54] markphillips100 commented on #149
I see you have something for status code handling on the [project backlog](https://github.com/orgs/ServiceComposer/projects/1#card-32184550).  Anything I can do in the meantime to obtain the desired behaviour?

I have a need to propagate a downstream API 404 result back up the call stack to the client.  At the moment the client will only ever get a 200 with empty json, or 500 if I throw exception

[2020-08-04 09:15] mauroservienti commented on #149
@markphillips100 I've been thinking about this for a while and I'm having a bit of a hard time in finding the right API.

But before diving into that. The workaround to your issue should be as easy as a middleware registered before the ServiceComposer one.

Requests handler can add a custom response header with the desired response status and the middleware after the `next()` invocation can check

[2020-08-04 09:37] markphillips100 commented on #149
Ah nice! I was modifying my client code to check for a 200 with empty content and modify its behaviour accordingly. I like your middleware approach way more than my current hack :-)

As for the "right API", perhaps a response extension to set the header, and rather than middleware, handle the header in the CompositionHandler to send the appropriate status?

[2020-08-10 09:53] mauroservienti commented on #149
@markphillips100 I raised #168 to add support for custom status codes. In your handlers, you can now do something like:

[code]

and the custom status code won't be overwritten anymore. The middleware trick doesn't work, unfortunately, as by the time the middleware is invoked the response has already been started and the status code cannot be changed anymore.

[2020-08-10 10:03] markphillips100 commented on #149
Thanks for this Mauro.  I'll give it a go ASAP.

As for the middleware approach, I did get an implementation working, not that it matters now ;-).  Did you use the OnStarting response delegate in the middleware?

[code]

[2020-08-10 12:40] mauroservienti commented on #149
I was not aware of the `OnStarting` option, I learned something new!

[2020-08-17 06:52] markphillips100 opened #169 "Question: Would it be possible to support ApiExplorer for OpenApi (Swagger) ApiDocumentation?"
Any ideas on an approach for supporting API documentation, what the limitations would be, etc?

I'm guessing this might be coupled to [this](https://github.com/orgs/ServiceComposer/projects/1#card-34115060) to-do item else how would we discover the types?

[2020-08-17 08:26] mauroservienti commented on #169
I have no idea how swagger works and if there is an option to plugin into the documentation building pipeline. If I understood correctly the model documentation requires a concrete type and won't be very happy with dynamic models.

I'll have a look, it's a valid requirement.

[2020-08-17 08:34] mauroservienti commented on #169
Quickly looking at [this article](https://www.codeproject.com/Articles/5270416/Documenting-an-ASP-NET-Core-API-with-OpenAPI-Swagg), that I have no idea how accurate it is, it seems that most of the documentation id metadata driven using attributes on controller action methods.

In theory it should work out of the box when using the ServiceComposer 1.0.0 attribute based routing, as when endpoints a

[2020-08-17 08:34] markphillips100 commented on #169
"won't be very happy with dynamic models" - that's my understanding, also why I linked to your project item about strong types.  I guess I was wondering how that would even be achieved.

[2020-08-17 08:38] markphillips100 commented on #169
I'll take a look at the article however I suspect that the ApiExplorer's default metadata provider (which is what Swagger uses) relies on Controller types.  I'll see if I can prove myself wrong.

[2020-08-17 10:54] markphillips100 commented on #169
Indeed the `DefaultApiDescriptionProvider` supplied by MVC is for the API metadata in MVC, so controllers and actions all the way.  It seems this is being discussed a fair bit on [https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/1306](https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/1306).

As pointed out in [this post](https://github.com/domaindrivendev/Swashbuckle

[2020-08-17 12:23] markphillips100 commented on #169
I got some basic http method and route pattern documentation using the following code.  To do any more would require the creation of a metadata model specifically for viewmodel composition that would allow surfacing of body and response information to the provider.  The hardest problem is likely to be how to describe the merging of data across handlers in those list use cases where handlers add on

[2020-08-17 16:13] mauroservienti commented on #169
@markphillips100 wow, thanks. I wasn't hoping for such a detailed investigation. I scheduled some time on Friday morning this week to spike something and investigate how to support models documentation. Thanks again.

[2020-08-24 13:13] #119 closed

[2020-08-24 13:24] mauroservienti commented on #169
I started experimenting with the ApiExplorer API, my initial brainstorming is available at https://github.com/ServiceComposer/Swagger-for-ServiceComposer-Playground. Feel free to comment there, more than happy to give you push access if that makes things simpler.

What I did so far is:
- tweaked your `ServiceComposerApiDescriptionProvider` to support 2 attributes:
  - `ProducesResponseType` that c

[2020-09-02 08:09] mauroservienti commented on #169
I made a significant step forward. Setting `ModelMetadata` when defining response types is key, otherwise nothing is generated for a given type because nothing is automatically inspected. This is far from intuitive. Anyway now I get the following:

![image](https://user-images.githubusercontent.com/1325611/91955345-50880e00-ed03-11ea-87d8-a7d1663b3d59.png)

(the [Swagger-for-ServiceComposer-Playgr

[2020-09-06 04:44] mauroservienti commented on #149
This can be closed as #168 fixes the problem

[2020-09-06 04:44] #149 closed

[2020-10-21 10:02] mauroservienti opened #185 "Remove GetComposedRequestIdHeaderOr method"

[2020-12-14 04:58] mauroservienti opened #197 "Strongly typed ViewModel"
One option could be to generate dynamic proxies from the `dynamic` view model in use today so that users can do something like:

[code]

The generate dynamic proxies have a reference to the original `dynamic` view model and the proxies properties use the `dynamic` view model internal dictionary as the properties backing data store.

### Resources
- https://github.com/Particular/NServiceBus/blob/a5

[2020-12-14 05:05] mauroservienti opened #198 "Composition Context"
it would be good to move away from using the `dynamic` view model as the composition context and the data storage. Having a separate `ICompositionContext` interface allows for a strongly typed `RaiseEvent` (or event better `RaiseEventAsync`). The composition context will also be the one keeping track of subscriptions.

The composition context could be introduced using an extension method on the cu

[2020-12-19 13:42] mauroservienti opened #202 "Obsolete as error"
- https://github.com/ServiceComposer/ServiceComposer.AspNetCore/pull/201
- https://github.com/ServiceComposer/ServiceComposer.AspNetCore/pull/203
- https://github.com/ServiceComposer/ServiceComposer.AspNetCore/pull/205
- https://github.com/ServiceComposer/ServiceComposer.AspNetCore/pull/208
- EndpointsExtensions.MapCompositionHandlers

[2020-12-19 14:43] mauroservienti opened #204 "Docs"
Simple documentation structure using markdown files in a `/docs` subdirectory and compiling it using MarkdownSnippet through a GitHub Action

[2020-12-19 14:48] #198 closed

[2020-12-21 15:44] mauroservienti opened #211 "Expose as a server option the response casing configuration"

[2020-12-21 20:40] mauroservienti opened #212 "Auto register in the container view model factories"

[2020-12-21 20:45] mauroservienti opened #213 "Allow to decorate view model factories with HTTP attributes to bind a factory to an endpoint"
When building endpoints factories will be added to the endpoint. There can be only one factory per endpoint. When handling a request types including factory types will be passed to the composition processor. If there is an endpoint bound factory it’ll be used, otherwise if there is an unbounded factory it’ll be used, otherwise dynamic.

[2020-12-22 14:37] #204 closed

[2020-12-22 14:46] #212 closed

[2020-12-22 14:46] #213 closed

[2020-12-22 15:14] mauroservienti opened #214 "View model factories documentation"

[2020-12-23 17:43] mauroservienti opened #223 "Exclude source.md files from GitHub pages generation"

[2020-12-24 06:57] mauroservienti opened #225 "Upgrade guide from 1.x to 2.x"
- deprecated things
- from IHandleRequest to ICompositionRequestHandler and attribute routing
- from dynamic view model to ICompositionContext

[2021-01-05 14:00] mauroservienti opened #227 "Release 1.8.0"
- [x] tag the repo
- [x] create draft release notes
- [x] push to Nuget
- [x] publish release notes
- [x] close this issue
- [ ] close the milestone

[2021-01-10 07:33] #214 closed

[2021-01-10 08:47] mauroservienti opened #232 "Allow ViewModel factories to return null to signal to walk up the factory resolution hierarchy"
If an endpoint scoped factory returns null, and a global one is available it'll be used instead. If also the latter returns null the default ServiceComposer dynamic view model is created

[2021-01-10 11:06] mauroservienti opened #233 "There is no documentation for IViewModelPreviewHandler"

[2021-01-10 11:07] mauroservienti opened #234 "There is no documentation on how to set case sensitive/insensitive route matching options"

[2021-01-10 14:42] #211 closed

[2021-03-04 02:49] markphillips100 opened #240 "JsonSerializerSettings used by CompositionEndpointBuilder not surfaced via options"
I have a handler that directly queries a database for its response data to be added to the viewmodel.  The queries surface EFCore NetTopologySuite data types direct from the DB, such as Point, Coordinate, etc.  In order to serialize these types (for the wire) the serializer settings (whether NewtonSoft or System.Text.Json) require a NetTopologySuite custom converter to be registered with the seria

[2021-03-04 06:18] mauroservienti commented on #240
Hey @markphillips100 thanks for raising this. I see no problems in exposing those settings, or to be more precise in allowing settings to be set via configuration options.

I'll raise a PR to get this going.

[2021-03-04 06:24] markphillips100 commented on #240
That's great.  Thanks @mauroservienti

[2021-03-04 16:16] mauroservienti commented on #240
@markphillips100 I raised #241, please take a look. Specifically to the configuration option (the code is from one of the tests): https://github.com/ServiceComposer/ServiceComposer.AspNetCore/blob/1be3831f42be447fc7e974d0a067ca7da6d43db1/src/ServiceComposer.AspNetCore.Endpoints.Tests/When_using_custom_serialization_settings.cs#L46-L50

Would the above work in your scenario?

[2021-03-05 00:30] markphillips100 commented on #240
I think it would @mauroservienti .  In my head I was initially thinking something like MVCs `AddJsonOptions` extension that applies the setting to controllers globally.  I think I prefer your approach better as it includes the request thereby allowing different settings per request should it be necessary.

[2021-03-05 01:51] markphillips100 opened #242 "Support ICompositionRequestsHandler<TRequest>?"
Hi @mauroservienti .  This is more a question or topic for discussion than an issue.

I've been experimenting with MVC's model binding and if I could make use of it to avoid custom code for extracting route parameters, query string values, body or form content, etc.  The AspNetCore `ControllerBase` has a `TryUpdateModel` that looked promising so I've written a ModelBinder implementation that repli

[2021-03-05 04:42] mauroservienti commented on #242
That looks interesting @markphillips100 and something I've always wanted to provide. There are two separate "features" to implement here:

- model binding support and the infrastructure to register binders and provide them to handlers
- generic/typed composition handlers

The first one is sort of simpler than the latter. My first idea about model binders was via an extension method to HttpRequest

[2021-03-05 05:22] markphillips100 commented on #242
Here's the code I took from MVC's ControllerBase with a little tweak to use a CompositeValueProvider so I can supply mutliple value providers in one go for the model binding of an object (we aren't binding to an action's parameters here).

[code]
As you can see it is dependent on some `Microsoft.AspNetCore.Mvc.ModelBinding` namespace types to do its work.  This will use the default set of MVC bind

[2021-03-05 06:07] mauroservienti commented on #242
Wow, once again thanks for the code @markphillips100.

.NET Standard  is already an option anymore. To use endpoints and endpoint builders the code must use at least .NET Core 3.x. In 1.8.0 I'm deprecating the legacy stuff and the plan is that 2.0 will be .NET Core 3.x (or 5.x) at the very minimum.

That means that the dependency on MVC stuff is less of a problem.

Thanks again, hopefully I'll be

[2021-03-05 08:34] mauroservienti opened #243 "Allow to customize default Json serialization options"
In #240 and #241, we provided options to customize json serialization settings on a per request basis. The default options (that are dependant on the request/response casing) are still hardcoded.

The composition infrastructure should allow customizing default Json serialization settings.

[2021-03-05 08:41] mauroservienti opened #244 "Users cannot use default/built-in MVC output serialization formatters to serialize composed response models"
Right now it's up to users to determine how to deserialize the incoming payload and the only supported response serialization format is Json. Given that we're now bound to .NET Core 3.x+ and not anymore to .NET Standard we can assume ASP.Net Core being available and then plugin some of the ASP.Net Core goodies like formatters.

[2021-03-05 08:42] mauroservienti opened #245 "Users cannot bind incoming requests to models the same way they would do using ASP.Net Core model binders"
As shown in #242, spike implementation in https://github.com/ServiceComposer/ServiceComposer.AspNetCore/pull/258

When dealing with incoming requests users are forced to parse the HttpRequest to extract:

- route data
- Form values
- Payloads stored in the request body

with regular ASP.Net they would simply rely on model binding to bind the mentioned sources to strongly typed models.

[2021-03-05 08:43] mauroservienti opened #246 "Implement support for strongly typed composition handlers: ICompositionRequestHandler<TRequest>"
As shown in #242

[2021-03-05 08:45] mauroservienti opened #247 "Users are forced to implement an interface to define composition handlers and are constrained to create multiple classes instead of defining multiple methods in the same composition handler class"
Depends on:

- https://github.com/ServiceComposer/ServiceComposer.AspNetCore/issues/148
- https://github.com/ServiceComposer/ServiceComposer.AspNetCore/issues/287

Add support for conventions, if a class:

- is defined in a `CompositionHandlers` namespace
- has a method, whose name doesn't really matter, that takes the correct argument and returns the correct type
- has the expected `Http*Attribut

[2021-03-05 11:37] #240 closed

[2021-03-05 13:11] mauroservienti commented on #240
The feature is done and 1.8.0 will be available on NuGet shortly.

[2021-03-05 13:15] #227 closed

[2021-03-05 13:22] #223 closed

[2021-03-05 13:23] mauroservienti opened #251 "Release 1.9.0"
- [x] tag the repo
- [x] create draft release notes
- [x] Credits to Mark
- [x] publish release notes
- [x] push to Nuget
- [x] close this issue
- [x] close the milestone

[2021-03-05 13:43] mauroservienti opened #252 "Release 2.0.0"
- [x] remove the deprecated target framework
- [x] remove `Snippets.NetCore2x` snippets and the `docs/asp-net-core-2x` folder
- [x] move tests that need/can to be moved from the `ServiceComposer.AspNetCore.Tests` project to the `ServiceComposer.AspNetCore.Endpoints.Tests` project
- [x] delete the `ServiceComposer.AspNetCore.Tests` project
- [x] rename `ServiceComposer.AspNetCore.Endpoints.Tests` t

[2021-03-05 13:46] markphillips100 commented on #240
My turn to say wow @mauroservienti !  I much appreciate the speed you resolved this for me.

[2021-03-05 14:00] mauroservienti opened #253 "View model factories and preview handlers cannot access the composition context and cannot raise events"
Current order is:

- retrieve RequestId from HttpRequest
   - create a new one if not found
- Add RequestId to the response
- create the composition context
- invoke the view model factory if present
- set the composition context and view model into the context items
- invoke the composition process
   - preview
   - subscribe
   - handle

The issue is that view model factories cannot access the c

[2021-03-05 15:08] mauroservienti opened #254 "Add composition over controllers documentation"

[2021-03-07 15:26] mauroservienti commented on #242
@markphillips100 I'm spiking options, looking at your sample code it's not clear to me what `JsonBodyValueProvider` is. I implemented a trivial `IValueProvider` that works for the spike, but it's hardcoded for the spike. Can you help me?

[2021-03-08 01:23] markphillips100 commented on #242
In short, we can do away with all that value provider 'setup' code, including the custom Json body provider. :-)

I was never really happy with the usage of the `CompositeValueProvider` in the code I posted - it was code from another source.  Delving a little deeper into AspNetCore and it's apparent this type has a factory method for obtaining a 'relevant' composition of IValueProviders based on t

[2021-03-08 04:11] mauroservienti commented on #242
Thanks! It's more or less what I understood yesterday while spelunking into ASP.Net source code. Which is interesting because if I understood correctly it uses the defined input formatters, that is another thing I was looking to support.

[2021-03-08 04:51] markphillips100 commented on #242
That's correct.  The body binder for example would use the configured mvc input formatter.

[2021-03-09 03:37] mauroservienti opened #259 "Rename "composed-request-id" header to "Composition-Request""
Add the new header in a minor, document the deprecation of the old one but keep it in sync with the new one. In the next major drop the old one.

[2021-03-09 04:09] mauroservienti commented on #242
I got a basic implementation working in a test in #258, thanks for your support @markphillips100

[2021-03-09 10:28] mauroservienti opened #260 "Make ResponseSerializationOptions constructor internal"

[2021-03-09 17:24] mauroservienti opened #264 "Use release-drafter"
Use [release drafter](https://github.com/marketplace/actions/release-drafter) to automate release notes creation. Or understand how to plug-in in the release pipeline GitReleaseManager

[2021-03-09 17:36] markphillips100 commented on #151
I did a bit of research on the [ApiVersion](https://github.com/microsoft/aspnet-api-versioning) package that supports MVC controllers to see if it could help here.  In short, I got lost down the rabbit hole that is MVC's application model so decided instead to post a [question](https://github.com/microsoft/aspnet-api-versioning/issues/733) on that package's repo.

I haven't digested the detailed r

[2021-03-09 17:42] #264 closed

[2021-03-09 19:29] mauroservienti commented on #244
Input formatters usage will be solved by https://github.com/ServiceComposer/ServiceComposer.AspNetCore/issues/245

[2021-03-10 07:36] markphillips100 commented on #151
I've digested the detailed post and determined that endpoint route delegates can indeed be versioned by simply applying an `ApiVersionModel` to a fake MVC `ActionDescriptor`.  Here's an example that would use a query string `api-version=n` in the url:

[code]
So assuming `AddApiVersioning()` is called in the host's startup this will accept the following routes:
1. `/api/hello?api-version=1`
2. `/a

[2021-03-10 16:38] #244 closed

[2021-03-10 20:18] mauroservienti commented on #242
@markphillips100 other than offering a `Bind<>` extension method for HttpRequest that does what you proposed and requires the user to define the wrapper class, what do you think about allowing something like:

[code]

where `MyBodyModel` is just a POCO. And the `BindFromBody` does something like:

[code]

Using the same approach there could be a `BindFromForm`, `BindFromRoute`, etc.

In designing

[2021-03-11 02:33] markphillips100 commented on #242
Is it annoying because the binder currently creates the instance or because you have to define the binding using attributes?  If the former, I'm happy to surface an additional/alternate method that accepts an instance of the model as a parameter.  For example, I just added a 2nd bind overload (in my version) to do just that:
[code]
If it's a case of a desire to hide the need for attributes for tho

[2021-03-11 04:06] markphillips100 commented on #242
I should have also said that my Bind and Send aggregate at the end of my last post isn't necessary if we had a generic ICompositionRequestsHandler as one would assume the model passed to the Handle<TRequest> would already be bound....just as in MVC.  Way down the road of course. :-)

I may have missed the point entirely re your proposal though.  Have I interpreted the use case correctly or did you

[2021-03-11 14:06] mauroservienti opened #271 "Change tests to use tests variants where it makes sense"
Candidates are:

- Patch_with_2_handlers
- Get_with_2_handlers
- Get_with_1_handler_and_1_subscriber
- When_using_composition_and_MVC
- Get_with_2_handlers_using_endpoint_scoped_view_model_factory

[2021-03-11 16:29] mauroservienti commented on #242
Thanks, @markphillips100. I'll comment later today. Meanwhile, I think the feature is ready. Would you have time for a review https://github.com/ServiceComposer/ServiceComposer.AspNetCore/pull/262?

[2021-03-11 16:54] mauroservienti commented on #242
With what we have now that doesn't seem too far away anymore 😉 and that's mostly due to your help.

While writing tests I had a feeling that the task of creating a wrapper class was too repetitive. But in the end I think I'm wrong, it's just in the tests scenario that it's boring simply because the test model is more it less always the same. In a real project that problem disappears. So, disregard

[2021-03-12 04:39] mauroservienti opened #273 "With support for route attributes on composition handlers there is no point in supporting composition over controllers"
What is the use case for composition over controllers? Unless the feature is enhanced by allowing the controller to act like a view model factory there is no point in keeping it. At the moment the `CompositionOverControllersActionFilter` composes data but sets the result only if the controller set nothing (Result == null). Given that the controller is execute first, the current controller result c

[2021-03-12 04:55] #242 closed

[2021-03-12 04:55] #245 closed

[2021-03-12 06:12] mauroservienti opened #274 "Users cannot bind to existing models"
As described in https://github.com/ServiceComposer/ServiceComposer.AspNetCore/issues/242, there might be the need for users to bind the incoming request to an existing model. As of today the model binder always creates a new instance of the model to bind to.

This could be as easy as creating a `Bind<TModel>` overload that accepts a model instance to bind to.

[2021-03-12 06:14] mauroservienti commented on #242
PR merged.

Raised https://github.com/ServiceComposer/ServiceComposer.AspNetCore/issues/274 to keep track of that.

[2021-03-12 11:01] mauroservienti opened #277 "Configure markdownsnippets to store source files in the MDSource folder."
Right now documentation is a bit confusing to navigate due to the sources files.

[2021-03-12 20:07] mauroservienti opened #280 "Attribute routing documentation is missing"

[2021-03-12 20:08] mauroservienti opened #281 "There is no single item composition sample"

[2021-03-12 20:08] mauroservienti opened #282 "There is no list composition sample"

[2021-03-13 00:13] markphillips100 commented on #247
Will an interface still be an option too do you think?

In the convention case, when defining the method, does the "correct argument" imply a convention also?  Just curious how to introduce model bound parameters to a method.

[2021-03-14 10:16] markphillips100 commented on #247
I like it @mauroservienti .  So in theory you could get as near to controller action parameter behaviour.  For example, not limit a method to just a model object but actual individual parameters with their own model binding attributes:
[code]
I think MVC defaults to FromBody semantics if you only specify a single object parameter and requires an explicit attribute if you include other parameters w

[2021-03-15 10:05] mauroservienti commented on #148
@markphillips100 would you mind having a look at https://github.com/ServiceComposer/ServiceComposer.AspNetCore/pull/278? I have a feeling that it's too simple and I'm missing something obvious.

[2021-03-15 11:15] markphillips100 commented on #148
I'll take a deeper look tomorrow @mauroservienti .  I just took a quick look at MVC Routing rules [here](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-5.0#combining-attribute-routes) and we should probably be mindful of this:

[2021-03-15 14:44] mauroservienti commented on #247
Correct, that's the idea

That's tricky; for example, take a look at [this Stack Overflow discussion](https://stackoverflow.com/questions/50771647/confused-with-frombody-in-asp-net-core).

[2021-03-15 14:56] markphillips100 commented on #247
Ah right, so the optional FromBody only applies when using ApiController attributes on controllers.  Good catch.

[2021-03-15 14:57] mauroservienti opened #287 "Composition handlers are constrained to use only one routing attribute"
As of 1.8.0 the following throws

[code]

However, it's a perfectly legit configuration for ASP.Net controllers: multiple entries point to the same behavior.

[2021-03-26 07:54] mauroservienti opened #295 "Release 1.10.0"
- [ ] tag the repo
- [ ] create draft release notes
   - [ ] mention contributors
- [ ] push to Nuget
- [ ] publish release notes
- [ ] close this issue
- [ ] close the milestone

[2021-03-26 10:11] #251 closed

[2021-03-29 16:15] mauroservienti opened #297 "[1.9.0] Application startup fails if ASPNETCORE_ENVIRONMENT is set to Development"
With a `launchSettings.json` like the following:

[code]

And a startup as simple as:

[code]

the application doesn't start. The problem is that when `ASPNETCORE_ENVIRONMENT` is set to `Development` the code that builds the service provider instance performs additional checks, one being that all registered components can be successfully resolved. We always register the `RequestModelBinder` class,

[2021-04-01 14:18] #297 closed

[2021-04-01 14:19] mauroservienti opened #300 "Release 1.9.1"
- [x] tag the repo
- [x] push to Nuget
- [x] publish release notes
- [x] close this issue

[2021-04-01 14:30] #300 closed

[2021-04-04 16:04] #254 closed

[2021-04-08 14:15] mauroservienti opened #305 "Does it make sense to swap the assembly scanning custom implementation with Scrutor?"

[2021-06-18 16:31] commonsensesoftware commented on #151
I can't say that I know much about this framework, but I'm happy to help answer any questions related to API Versioning that can help you achieve your goals. Based on this discussions, here's some points to consider (in no particular order):

- The API version format is the only thing that currently is really _opinionated_ and is based on the Microsoft REST guidelines
- API Versioning does not car

[2021-06-29 02:25] markphillips100 opened #310 "DotNet 6 minimal API question"
Have you heard of the pending .net 6 minimal APIs?  Just wondering if they add value to your work in regards to model binding and more specifically versioning perhaps, or I guess whether their inclusion in .net have an impact on any future direction servicecomposer takes.

[2021-06-29 03:49] markphillips100 opened #311 "Client model question"
Let me know if this is the wrong place for this question @mauroservienti .  It touches on viewmodel composition which is really the reason for me putting it here.

I'd appreciate some guidance, insight or just some thoughts on something I've been contemplating in regards what to do about model code (DTO stuff) that resides in client apps that consume viewmodel composition APIs.  Specifically, shou

[2021-08-05 14:31] markphillips100 opened #315 "Use MVC action results for formatting viewmodel response"
@mauroservienti I've been experimenting with how I can return MVC action results from handlers.  I'll give you some background first.

Many of my handlers utilize the mediator pattern with pipelines that can generate validation errors.  Up until now I've been throwing a custom ValidationException with any validation errors that may occur.  This exception then gets handled higher up in the request

[2021-08-09 07:35] mauroservienti commented on #310
Thanks for your patience @markphillips100.

I did, yes.

I'm not sure what type of usage we could do of the minimal API in ServiceComposer. Do you have any idea in mind?

[2021-08-09 08:00] markphillips100 commented on #310
Not really. I'm not even sure if there's value in them at this point. Will close issue and wait for 6 to be released. See what the community makes of them 😁

[2021-08-09 08:01] #310 closed

[2021-08-09 12:39] mauroservienti commented on #315
@markphillips100 thanks for raising this issue. From what I have understood you'd expect to be able to do something like:

[code]

The `BadRequest` extension is similar to the `SetActionResult` one. What happens if more than one handler sets the action result?

[2021-08-09 12:59] markphillips100 commented on #315
I'm assuming there's possibly other result types that would need to be catered for, not just bad request. E.g. NotFound, Conflict, Forbid, etc, hence why I only employed a generic interface to write the response.

That aside, yes indeed, what should happen if more than one handler for the same route sets an action result. I'm not sure to be honest unless only using subscribers - in that situation

[2021-08-09 13:20] mauroservienti commented on #315
Let's see a use case. We could have something like:

[code]

[code]

And then three handlers for the same route:

[code]

[code]

[code]

The third one is interesting because it would be very similar to the following:

[code]

how does the resulting HTTP response look like? Is there any way we could express in a single response the "messages" all handlers are trying to convey?

[2021-08-09 13:22] mauroservienti commented on #151
@commonsensesoftware thanks for the highly valuable insights (and for your patience too). I'll have to digest those and all that @markphillips100 wrote https://github.com/ServiceComposer/ServiceComposer.AspNetCore/issues/151#issuecomment-795026553

[2021-08-09 13:33] markphillips100 commented on #315
Not really as the intent of individual responses are tightly coupled to the http status code. A not found is a 404, a content 200, bad request 400, etc.

This is I guess why I only imagined supporting any 4xx results but only 4xx types. 500 is an exception and 200 are resolved using normal objectresult semantics in the SC code using the composed VM dynamic. The first 4xx result wins. From the clie

[2021-08-09 13:36] markphillips100 commented on #315
I should clarify. Of course the client cares about which 4xx they get, just not whether a notfound beat a bad request to the wire

[2021-08-09 13:55] mauroservienti commented on #315
Everything makes sense, and honestly, I don't think there is any real issue with multiple handlers trying to set multiple action results. [There is already a concurrency "issue" in setting the response code](https://github.com/ServiceComposer/ServiceComposer.AspNetCore/blob/master/docs/custom-http-status-codes.md) and documentation describes that. We can have a similar note on the documentation pa

[2021-08-09 23:05] markphillips100 commented on #315
Last or first it doesn't matter I think. The only real requirement is if there is one it is returned instead of the VM.

Thanks for the discussion @mauroservienti

[2021-10-08 03:28] mauroservienti opened #321 "Drop .NET Standard and .NET Core 2.1 support"

[2021-10-08 04:15] markphillips100 commented on #315
Don't worry about "dropping the ball".  We all lead busy lives at times hey.

I've been used an internal customized-for-my-needs version in the meantime.  My `CompositionEndpointBuilder` is as follows but also note I understand it's up for discussion :-)

[code]

This code is dependent on a new addition to your `HttoRequestExtensions` to add a `SetActionResult` extension to http request's httpcont

[2021-10-08 06:35] mauroservienti opened #323 "Set UseOutputFormatters to true by default"
This is a breaking change. We should allow setting UseOutputFormatters to false merely for backward compatibility. Consider also obsoleting the configuration option and removing it in v3.

Using output formatters require additional settings (https://github.com/ServiceComposer/ServiceComposer.AspNetCore/blob/master/docs/output-formatters-serialization.md). Before turning this on by default, it must

[2021-10-08 06:40] mauroservienti commented on #315
Raised https://github.com/ServiceComposer/ServiceComposer.AspNetCore/issues/323 to track this. I'll add the exception to the PR.

I'm having a hard time keeping track of what they are doing. Based on this comment https://github.com/dotnet/runtime/issues/31175#issuecomment-937646022 it seems that .NET 6 comes with support for JsonNode but they won't support DynamicOjbect out of the box by default,

[2021-10-08 11:26] mauroservienti opened #324 "Add README file to the Nuget package"
The current README has relative links going to docs.

[2021-10-09 12:43] mauroservienti opened #325 "Verify routing rules are respected"
https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing

[2021-10-09 14:40] mauroservienti opened #327 "Release 1.11.0"
- Prepare the release
  - [x] tag the repo
  - [x] push to Nuget
- Release notes:
  - [x] edit release notes as necessary, e.g. to mention contributors
  - [x] associate draft with the created tag
  - [x] publish
- Clean-up
- [x] close this issue
- [x] close the milestone

[2021-10-09 14:53] mauroservienti opened #328 "Move to use InPlaceOverwrite for snippets"
https://github.com/SimonCropp/MarkdownSnippets#inplaceoverwrite

[2021-10-09 15:32] #328 closed

[2021-10-10 09:32] #277 closed

[2021-11-12 15:08] mauroservienti opened #338 "Add .NET 6 support"

[2021-11-22 06:28] markphillips100 opened #339 "ITOps services and query result composition"
This is not an issue with service composer @mauroservienti , more me trying to understand its relevance or applicability when it comes to ITOps services.  FYI, I've been following your notification related posts at [milestone.topics.it](https://milestone.topics.it/) and I've applied similar concepts to my ecommerce project  - I wonder if  I'll ever get to prod :-( - but I've come across an area of

[2021-12-02 14:38] mauroservienti commented on #311
For some reasons, this issue disappeared from my GitHub notifications. Sorry about that.

I guess that at this point the main differentiator is: are you using a branding approach (e.i. the UI is monolithic) and thus it makes sense that ViewModels DTOs are defined in the client application. Otherwise it makes more sense that they are defined and shipped by services, with the downside that you'll st

[2021-12-03 00:58] markphillips100 commented on #311
Thanks for the response @mauroservienti .  Really appreciate it.

I do use the branding approach, i.e. a monolithic UI, from both a Blazor wasm app and 3 Flutter mobile apps.  These consume a bunch of different APIs, some composition, some controllers, some provided by business services, some by ITOps too. For now, those APIs are all in the "mobile api" host but nothing prevents hosting some contr

[2021-12-03 01:06] markphillips100 commented on #305
I think Scrutor is only for DI service registration isn't it?  This would make it insufficient wouldn't it considering the needs of the CompositionMetadataRegistry?

[2021-12-03 01:48] markphillips100 commented on #339
The more I think about this the more I think it just doesn't make sense for an ITOps component to be even aware of the URLs surfaced by business services.  It should only ever surface its own URLs, and can't think of any reason why these wouldn't always be controller actions too.  Composition should be something only done across business services.

[2021-12-03 15:44] mauroservienti commented on #305
Scrutor is primarily for assembly scanning and retrieving types at runtime, registration would then be performed the usual way. But I'm not sure what the problem I was trying to solve was when I raised this 😄

Closing. It can always be resurrected.

[2021-12-03 15:44] #305 closed

[2021-12-03 15:56] mauroservienti commented on #339
If I understand the use case correctly, aren't there two different operations at play here?

1. The need to define rules around discounts and fees, the authoring tool
2. The need to apply discount and fees rules, the rules engine

For the first one, users (back-office users, I guess) interact with an interface that manipulates the ITOps thing. As you said, ITOps owns the data. So it seems to me (t

[2021-12-04 01:11] markphillips100 commented on #339
That's how I see it too.

I guess I was more thinking about the output of the charging engine, i.e. surfacing it as a model of data in the context of a cart request.

I'm not sure if it's correct or not but my thinking is that the result of the pipeline belongs with the business service that triggered it, meaning they get to decide what to do with that output data. For example, perhaps the Finance

[2021-12-07 16:43] #321 closed

[2021-12-07 16:59] #327 closed

[2021-12-07 17:13] mauroservienti opened #343 "drop .NET 5 support"

[2021-12-07 18:11] mauroservienti opened #346 "Move to GitHub Actions"
- [x] ci.yaml to build and test pull requests and publish to myget on tags
- [x] update the release issue template to update instructions to push from MyGet to Nuget
- [x] backport to release branches
- [x] configure branch protection rules for required checks

[2021-12-07 20:30] #338 closed

[2021-12-08 17:35] #346 closed

[2021-12-08 17:46] #260 closed

[2022-02-19 12:58] markphillips100 opened #360 "Issue casued by Task.WhenAll when underlying tasks use types that are not threadsafe"
I'm not sure if this is something that should be changed but at least to be aware of.

The use of `await Task.WhenAll(pending)` [here](https://github.com/ServiceComposer/ServiceComposer.AspNetCore/blob/474664fb899fdb3edd8d87b7802b8f5ed8ca7a9c/src/ServiceComposer.AspNetCore/CompositionHandler.cs#L62) will allow multiple threads to be used for each Task, so if any shared scoped instance of something

[2022-02-20 03:06] markphillips100 opened #361 "AssemblyScanning not finding types when using a self-contained exe on linux"
I'm experimenting with publish of projects to self-contained exe so that trimming can be applied.  The publish output targets linux so the self contained output is not appended with ".exe", as it would be on a windows publish. As a result the scanner won't find the file containing handlers due to the restriction on file extension [here](https://github.com/ServiceComposer/ServiceComposer.AspNetCore

[2022-02-20 04:21] markphillips100 commented on #361
Hmm, it's also possible the AssemblyValidator would need to bypass the assembly validation step for selfcontained exe - I don't think it has metadata anymore as it's no longer a PE.

[2022-02-20 05:38] mauroservienti commented on #361
@markphillips100 I see no issues in exposing more scanner options. It's easy to explore scanning patterns and the scanner could also allow to inject a predicate to customize validation for each assembly.

[2022-02-20 05:41] mauroservienti commented on #360
Thanks for looking into this @markphillips100. I never faced the issue myself but always suspected it was there.

Would it be interesting to have an extension point before each handler invocation? The extension point could expose the service provider and allow the creation of a child scope for each handler if needed?

[2022-02-20 06:38] markphillips100 commented on #360
Not sure that it's needed, or more specifically, something that this lib should provide and best left for developers to supply it themselves as required.

For example, I tend to have small handlers which pass a request type to a mediator.  The implementation of those mediator commands can inject IServiceProvider if they require it.  So in my case having the handler be supplied IServiceProvider wou

[2022-02-20 08:39] mauroservienti commented on #360
Makes sense to at least provide some documentation. I'll craft it. Thanks.

[2022-02-20 11:17] markphillips100 commented on #361
I'm going to leave the self-contained approach for a bit.  Too many issues trying to prevent components from being trimmed just because they are dynamically registered at runtime.  This "plugin" type strategy generally doesn't work well with trimming but was hoping I could just inform the build/publish to always keep my libs and just trim dotnet stuff.  No joy though.

Oh well, will just have to m

[2022-02-20 11:17] #361 closed

[2022-02-20 17:33] mauroservienti commented on #361
No worries @markphillips100. If you're building Docker containers why not use the explicit API to register handlers (the same used by tests)? Containers are immutable and assembly scanning and types discovery don't make much sense.

[2022-02-20 18:24] markphillips100 commented on #361
My host project merely adds references to many service component NuGet packages. It's responsible for setting up scanning and discovering all components for various functions (composition, mediatr commands, validators, MVC application parts, etc) and registering as appropriate by mere implementation of an interface. So there are multiple scans depending on what function is initialised. Whether the

[2022-02-23 01:13] markphillips100 commented on #361
Just a bit of info @mauroservienti in case you were interested. I've been confusing "self contained" with "single file".  The two are very different concerns when it comes to publishing dotnet.  Seems trimming is still possible when you target a specific runtime with self-contained enabled (default when runtime specified).

So long as I **don't** use PublishSingleFile also when it comes to the dot

[2022-03-01 06:28] markphillips100 commented on #169
Hi @mauroservienti .  I've just started delving into how to use source generators to support a composition viewmodel for openapi documentation.  I forked the playground, and just pushed a working sample [here](https://github.com/markphillips100/Swagger-for-ServiceComposer-Playground/tree/generate-typed-composition-response).

The source generator basically looks for a new attribute `ProducesCompos

[2022-03-25 07:06] markphillips100 opened #369 "Can MapCompositionHandlers return IEndpointConventionBuilder?"
I'm attempting to refactor a Blazor host's security to use DuendeSoftware's "BFF" approach.  In part this entails adding an attribute or metadata to endpoints that should have some "extra security" checks done.

The main way they apply this metadata is by use of an extension applied to the result of `MapControllers()`.  I've never noticed before but this extension (and other MVC extensions) return

[2022-03-25 18:12] mauroservienti commented on #369
hey @markphillips100,

I just had a look at it, and I'm not sure I understand how it works. `IEndpointConventionBuilder` looks like the following:

[code]

We could easily create a class that implements the interface, however, it's not clear to me how it should behave. Let me dump my train of thoughts here. The result you want to achieve is something like the following:

[code]

As of now, `MapCom

[2022-03-25 18:19] mauroservienti commented on #369
Scratch that, I think it's easier than I thought. I'll raise a PR.

[2022-03-25 21:00] mauroservienti commented on #369
Here is a possible implementation https://github.com/ServiceComposer/ServiceComposer.AspNetCore/pull/370
It's on `master` so it'll target 2.0.0, but if that's what you expect it can be backported to 1.13.

[2022-03-26 06:55] mauroservienti commented on #360
Raised https://github.com/ServiceComposer/ServiceComposer.AspNetCore/pull/371. @markphillips100 can you have a look?

[2022-03-26 06:58] mauroservienti opened #372 "Stop multi-targeting to .NET 3.1, keep only .NET 6 and .NET 7"
.NET Core 3.1 is end of life on December 3

[2022-03-26 07:41] markphillips100 commented on #369
That's awesome @mauroservienti .  I'll take a detailed look over the weekend for certain.

[2022-03-26 07:52] markphillips100 opened #373 "Add IConfiguration to ViewModelCompositionOptions"
I've been bad and used `services.BuildServiceProvider().GetService<IConfiguration>()` in many of my component's service collection extensions where I might need access to some config to help configure the DI setup.  Using `BuildServiceProvider()` is a bit frowned on, due to singleton lifecycles (apparently).

I've refactored many of my configuration extensions to surface the `IConfiguration` abstr

[2022-03-26 08:03] markphillips100 commented on #360
Looks good @mauroservienti

[2022-03-26 10:32] #360 closed

[2022-03-26 11:30] mauroservienti commented on #373
That makes a lot of sense. I'll take a look at what's the easiest way to expose it.

[2022-03-26 17:27] mauroservienti commented on #373
The easiest thing that comes to my mind is in https://github.com/ServiceComposer/ServiceComposer.AspNetCore/pull/374. It's ugly 😢

Any suggestion is appreciated.

[2022-03-27 00:06] markphillips100 commented on #373
That approach was all I could think of too. It doesn't effect the customization abstraction and allows for optionally supporting IConfiguration, so minimal impact on existing usage.

[2022-03-27 04:23] mauroservienti commented on #373
Thanks. Agreed. I'm thinking about throwing an exception with an explanation message in the `Configuration` property getter if it's null. It's better than a NRE and the message could guide to using the correct `AddViewModelComposition` overload.

[2022-03-27 04:31] markphillips100 commented on #373
That's a good idea

[2022-03-28 10:43] markphillips100 commented on #369
I've confirmed this approach satisfies my needs @mauroservienti .

Is a 1.13 possible?  I think I'd also need #373 update too though.  If you think it's best to put them in a v2 though I understand.

[2022-03-28 16:38] mauroservienti commented on #369
I think back-porting both to 1.13 is possible. I'm a bit overwhelmed and overcommitted this week. Hopefully, I should have some time towards the end of the week (if the little 4yo Dracula 🧛‍♂️ goes back to school and stops spreading killer viruses 🦠 at home... 😬). Otherwise, beginning of next week.

[2022-03-28 18:49] mauroservienti commented on #373
Another option, for 2.0.0, but not for 1.13 because I think it's a breaking change, would be to enable nullable reference types and make the `IConfiguration? Configuration` nullable.

Do you have any preference? I'm leaning towards the exception because it allows for a meaningful message explaining how to fix the issue.

[2022-03-29 01:59] markphillips100 commented on #369
Your health is more important @mauroservienti .  It'll get done in due course I'm sure so take care of yourself (and Dracula) first.

[2022-03-29 02:05] markphillips100 commented on #373
A nullable reference library would be a good move I think but I agree it should be saved for a major bump.  As for the message in the nullable ref use case, probably sufficient to just have a doc comment on the property for intellisense.

[2022-04-01 14:02] Stephanvs opened #375 "Dealing with exception handling from ViewModelAppenders inside a composition"
Hi Mauro,

We currently have a similar implementation of a ViewModel composition engine in our project. We're considering migrating to this libarary (just fyi 😉).

I was thinking about exception handling in a composition. Let's say a handful of services contribute to the composition of a complete page. If a single ViewModelAppender in the current implementation throws an exception, the whole compo

[2022-04-05 06:51] mauroservienti commented on #169
Mark, thanks for all the work you're doing and more importantly for your patience.

I had a quick look and it looks promising. I'll schedule some time to go through it and do a proper review.

[2022-04-05 07:10] mauroservienti commented on #375
Thanks for your question @Stephanvs and I'm happy that you're thinking about using ServiceComposer.

I spent a lot thinking about exception handling and less important handlers and I couldn't find a solution that satisfied me without compromising on something. I'm leaning toward thinking that it's not ServiceComposer composer responsibility to deal with errors in handlers.

Let me give you an over

[2022-04-05 07:13] mauroservienti commented on #339
Yes, I think it makes a lot of sense. I go on thinking that IT/Ops is a logical concept that has no place in the physical world. By that I mean that logically there is someone that owns that process (the pipeline we're talking about here), and thus that owner can do whatever it needs to do with the result of the execution.

[2022-04-05 23:26] markphillips100 commented on #339
Thanks @mauroservienti .  Appreciate the feedback.

[2022-04-05 23:26] #339 closed

[2022-04-05 23:28] markphillips100 commented on #311
I'll close this @mauroservienti as hoping the source generator approach leads somewhere fruitful....when I get more spare time that is. :-(

[2022-04-05 23:28] #311 closed

[2022-04-05 23:59] markphillips100 commented on #169
Not had much time lately - ongoing startup funding issues as usual - but will hopefully take a look at modification of the generator to support the following:

- Handlers residing in other packages.
- Handlers returning merged result sets.

The last one is the most tricky.  As you've pointed out in the past, there's no formal way that anyone must adhere to in regards to how they merge results into

[2022-04-07 15:40] mauroservienti commented on #369
#370 is merged to `master`, raised https://github.com/ServiceComposer/ServiceComposer.AspNetCore/pull/377 to back-port to `release-1.13`

[2022-04-08 16:58] mauroservienti commented on #373
`1.13.0` is on [NuGet](https://www.nuget.org/packages/ServiceComposer.AspNetCore/1.13.0)

[2022-04-08 16:58] #373 closed

[2022-04-08 16:58] mauroservienti commented on #369
`1.13.0` is on [NuGet](https://www.nuget.org/packages/ServiceComposer.AspNetCore/1.13.0)

[2022-04-08 16:58] #369 closed

[2022-07-03 02:44] markphillips100 opened #389 "Question: Any thoughts on where composition should occur when using Blazor?"
I've hit an architectural problem in my use of Blazor webassembly in that I'm not sure where to apply composition of information from difference service boundaries.  I'll try to explain with some background info.

I've typically used this library for composing data at an API BFF for several Flutter mobile apps to consume.  So from the app client perspective, they don't see the logical separation o

[2022-07-03 06:28] mauroservienti commented on #389
Mark, given that I know nothing about Blazor, would you be able to put together a basic sample that I can use to understand what is this about?

[2022-07-03 07:00] markphillips100 commented on #389
Sorry @mauroservienti , it's probably not related to this library as such.  More me trying to align which repo (from an ownership point of view) to put UX components that on the outset appear to be logically owned by a single service when perhaps they don't in reality.

In other words, I guess I started out trying to do view composition in addition to the usual viewmodel composition offered by ser

[2022-07-03 07:42] mauroservienti commented on #389
No need to be sorry at all, Mark. And I'm not sure it's unrelated.

Recently, I've been thinking about composition _**not**_ in the context of HTTP. My use case is a WPF client application that doesn't need to go through HTTP to retrieve data. Instead, each component can directly access the database and it's hosted in the application itself. That means:

- shared model, even if there is no client-

[2022-07-03 09:24] markphillips100 commented on #389
Sounds like you need some other mechanism to compose in the WPF app itself.  In process event handling perhaps? Maybe this is what I'm trying to achieve also (without realising it).

The Blazor (wasm) approach is akin to an angular app with say a nodejs backend.  SPA with a http backend where both are written in same language.  This offers the opportunity for keeping both client UX components and

[2022-07-04 03:22] markphillips100 commented on #389
Just to give clarity from a real world perspective if you don't mind, let's take a look at an Amazon product page as an example but let's assume the app is a SPA rather than server rendered app, and that we are doing view composition within the SPA rather than viewmodel composition at an API level.

A single product's page composes product details, technical details, pricing, ratings, etc.  All in

[2022-07-04 05:31] markphillips100 commented on #389
I've re-read your viewmodel composition series and this [article](https://milestone.topics.it/2021/04/20/on-viewmodel-composition-and-ui-composition.html) seemed to cross common ground with my use case issue.

The code examples under the section "What are they?" describes a component called AvailableProducts from Catalog that makes use of another component AvailableProductPrice from Sales.  This w

[2022-07-05 04:59] markphillips100 commented on #389
@mauroservienti  I created a [sample application](https://github.com/markphillips100/blazor-ui-composition-sample) that uses both service composer for viewmodel composition and Blazor's DynamicComponent to support compile-time decoupling of each service's UI components.

This follows the guidance I mention in previous post.  I'm not 100% convinced but can't think of any other way of providing comp

[2022-07-09 12:11] markphillips100 commented on #389
I added a 2nd blazor web app to the same sample solution to showcase a different approach.  I updated the readme to explain but basically it separates layout rendering from item or list components.  I wonder if this would be something you can also do architecturally for WPF?

[2022-07-13 02:14] markphillips100 commented on #389
I added a 3rd web app to the sample solution just for clarity and comparison with a monolithic use case.

[2022-07-15 05:29] markphillips100 commented on #389
So I added some more flavours to the sample.  This time I can resolve dynamic components from other services by a "placement" contract.  I think this is the best approach to allow me to be as decoupled as possible, still retain the majority of ux components with the service that owns them, and give control to the owning service boundary about their page's layout.

[2022-08-16 09:40] markphillips100 opened #392 "Question: Thoughts on integrating viewmodel composition output with signalr?"
I wasn't sure how to phrase the question to make sense.  I'll explain if I may.

I currently publish some SignalR notification messages from NSB handlers for events that are of interest to client apps.  These usually don't contain more than an event type and an Id.  Their main usage is to inform the client app of an event occurring in the context of some Id, say a cart's OrderId as an example.  Th

[2022-08-18 04:51] mauroservienti commented on #392
I've been thinking about that a lot, recently (in the context of Blazor too).

ServiceComposer has two major limitations at the moment:

1. Handlers selection is based on Routing information, and thus requires (or seems to require) an incoming HTTP request
1. Every API assumes the surrounding context is HTTP

My gut feeling tells me that we could decouple the composition engine from HTTP by:

1. I

[2022-08-18 05:26] markphillips100 commented on #392
This sounds like it would fit your WPF scenario you mentioned before too perhaps?

[2022-08-18 05:46] mauroservienti commented on #392
Correct. It would fit any non-http scenario.

I was even thinking that one API option could be something like: `ICompositionRequestHandler<TContext>`

Where the engine could use the TContext type to determine the environment

[2022-08-18 05:48] markphillips100 commented on #392
Decoupling from HTTP would be nice from my perspective, just from the execution in process point of view.

I was curious what form the request coupling abstraction would take, if not using Http route attributes and model binding that is?
1. Do you couple requests by having ISubscribeHandler handle an event type and use an event published by an IRequestHandler?  Similar to current behaviour
2. Do y

[2022-08-18 06:12] markphillips100 commented on #392
I still also see value in event subscription too though.  So that the boundary that owns the request type can publish related Ids from its domain that the subscription can use to composite an appropriate response.  I wouldn't expect the request type to know about this data.

[2022-08-18 06:53] mauroservienti commented on #392
Yup. The idea is that the TContext thingy would allow to mimic the exact same behavior as today without coupling to HTTP.

Given my experience with the NServiceBus API I don't think we need a strong abstraction, a very thin one would be more than enough. If you're writing a handler, or a subscriber for what matters, I don't expect anyone to be able to use the same handler in different context. The

[2022-08-18 07:49] markphillips100 commented on #392
Awesome.  When can we have it?  Only kidding.

[2022-09-02 13:20] mauroservienti commented on #392
I tried and I failed 😵‍💫😎
The current implementation has too many dependencies on ASP.Net features or concepts, making it hard to extract a core composition logic.

I think a better option would be to have a separate `ServiceComposer.SignalR` (and maybe `ServiceComposer.Blazor`) package with its own implementation. If it turns out there are shared types in the future, it's easy to add a base `Serv

[2022-09-03 02:38] markphillips100 commented on #392
Thank you for giving it a go, it's a real head-scratcher for sure. I figured those MVC parts would get in the way.  Default action results, request binding, etc.

I'm not quite sure there's a use case for separate packages, at least not from my perspective.  The "only" :-) issue I see is that the execution of composition is tightly coupled to endpoint routing, in terms of handler/subscriber regist

[2022-09-04 12:16] markphillips100 commented on #392
I've forked and am part way through an attempt.  Not sure how much time I can spend on it over the next week or so but will report back with something hopefully, if only to say I failed lol.

[2022-09-05 15:03] markphillips100 commented on #392
@mauroservienti I've made an attempt at some sort of separation of concerns in this [branch](https://github.com/markphillips100/ServiceComposer.AspNetCore/tree/inprocess-context).

I stripped out a lot of what would be obsolete code but also code that potentially should be added back (if this is a valid approach that is), namely factory stuff.  I only did this so I could focus better.

I've modifi

[2022-09-07 06:03] markphillips100 commented on #392
@mauroservienti As predicted, I have another variation to consider :-) New branch at [generic-context](https://github.com/markphillips100/ServiceComposer.AspNetCore/tree/generic-context).

This one generalizes composition context, handler and the registry as generic implementations so either endpoint-based (HttpRequest/IActionResult) or object-based (ObjectRequest/some custom result type) can use

[2022-10-16 08:25] mauroservienti commented on #389
I started carving out an `InMemory` implementation. It doesn't compile yet. I have a couple of unanswered design questions. Can you please chime in @markphillips100? https://github.com/ServiceComposer/ServiceComposer.InMemory/pull/1/files

[2022-10-16 08:43] markphillips100 commented on #389
Yep, ask away

[2022-10-16 08:49] markphillips100 commented on #389
Sorry @mauroservienti just to clarify, is this "in-memory" meant for this issue's concern with UI visual composition, or related to the other issue #392  about composing in a process?  Did you see the follow up I did on that one by the way?

[2022-10-16 08:58] markphillips100 commented on #389
FYI, I've been using a copy (and only slightly amended) version of the last "generic context" example mentioned in that thread.  InMemoryRequest would have been a far better name than my ObjectRequest though.

It's been working well so far but of course I'd rather not have the technical debt in my codebase.

[2022-10-16 09:02] mauroservienti commented on #389
I don't know, yet.

I did not have time (yet) to dive into the SignalR ideas you raised and described.

Meanwhile, I had another request to run composition in the context of an NServiceBus message handler. I started thinking that probably for that scenario and Blazor having an in memory, simple, implementation would suffice. It might even work for SignalR, but I want to find the time to dive into

[2022-10-16 09:11] markphillips100 commented on #389
I kinda discuss the handler integration there and came to the conclusion I didn't want to couple the in-memory behaviour with the outer consumer code.  Probably easier if you look at that thread first and then continue from there?  Like you said, when you get time.  Busy times :-)  Always here to help too